#nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  width: 100%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background: #fff; }
  @media (min-width: 1902px) {
    #nav {
      padding: 72px 78px 88px 78px; } }
  @media (max-width: 1901px) {
    #nav {
      padding: 72px 78px 88px 78px; } }
  @media (max-width: 1600px) {
    #nav {
      padding: 65px 66px 80px 66px; } }
  @media (max-width: 1200px) {
    #nav {
      padding: 55px 60px 70px 60px; } }
  @media (max-width: 992px) {
    #nav {
      padding: 40px 50px 60px 50px; } }
  @media (max-width: 600px) {
    #nav {
      padding: 30px 25px 45px 25px; } }
  @media (max-width: 992px) {
    #nav .logo img {
      max-width: 80%; } }
  @media (max-width: 600px) {
    #nav .logo img {
      max-width: 60%; } }
  #nav .logo-img {
    display: none; }
  #nav .menu ul {
    margin-bottom: 0;
    padding-left: 0; }
    #nav .menu ul:after {
      content: '';
      display: table;
      clear: both; }
    #nav .menu ul li {
      float: left;
      list-style: none;
      font-size: 27px;
      margin-right: 32px;
      line-height: 20px; }
      @media (max-width: 992px) {
        #nav .menu ul li {
          font-size: 20px; } }
      #nav .menu ul li:last-child {
        margin-right: 0; }
      #nav .menu ul li a {
        color: #000;
        text-decoration: none;
        -webkit-transition: All 0.2s ease-in-out;
        -o-transition: All 0.2s ease-in-out;
        transition: All 0.2s ease-in-out; }
      #nav .menu ul li a:hover {
        color: #aaa; }
  #nav .hamburger {
    display: none; }
  #nav .hamburger-button {
    position: fixed;
    top: 40px;
    right: 25px;
    z-index: 999; }
  @media (min-width: 601px) {
    #nav .menu {
      display: block !important; } }
  @media (max-width: 600px) {
    #nav .hamburger {
      display: block;
      outline: none;
      padding: 0; }
    #nav .logo-img {
      display: inline-block; }
    #nav .menu {
      display: none;
      position: fixed;
      z-index: 20;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #eee;
      text-align: center; }
      #nav .menu div {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
        #nav .menu div a {
          color: #000;
          text-decoration: none;
          -webkit-transition: All 0.2s ease-in-out;
          -o-transition: All 0.2s ease-in-out;
          transition: All 0.2s ease-in-out; }
        #nav .menu div a:hover {
          color: #aaa; }
        #nav .menu div .logo-img {
          max-width: 70%; }
        #nav .menu div ul {
          margin-top: 70px; }
          #nav .menu div ul li {
            margin-right: 0;
            display: block;
            float: none !important;
            line-height: 50px; } }

@media (min-width: 1902px) {
  #content {
    padding-top: 217px; } }

@media (max-width: 1901px) {
  #content {
    padding-top: 217px; } }

@media (max-width: 1600px) {
  #content {
    padding-top: 202px; } }

@media (max-width: 1200px) {
  #content {
    padding-top: 182px; } }

@media (max-width: 992px) {
  #content {
    padding-top: 145.6px; } }

@media (max-width: 600px) {
  #content {
    padding-top: 134.2px; } }

#content .first-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  background: #fff; }
  @media (min-width: 1902px) {
    #content .first-wrapper {
      padding: 0 78px 100px 78px; } }
  @media (max-width: 1901px) {
    #content .first-wrapper {
      padding: 0 78px 100px 78px; } }
  @media (max-width: 1600px) {
    #content .first-wrapper {
      padding: 0 66px 80px 66px; } }
  @media (max-width: 1200px) {
    #content .first-wrapper {
      padding: 0 60px 60px 60px; } }
  @media (max-width: 992px) {
    #content .first-wrapper {
      padding: 0 50px 50px 50px; } }
  @media (max-width: 600px) {
    #content .first-wrapper {
      padding: 0 25px 30px 25px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      #content .first-wrapper .first-intro {
        padding-bottom: 20px; } }
  #content .first-wrapper .first-img {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
    #content .first-wrapper .first-img img {
      width: 100%; }
  #content .first-wrapper .first-intro {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    line-height: 44px;
    padding-right: 40px; }
    #content .first-wrapper .first-intro p {
      margin-bottom: 0;
      margin-right: 14px;
      letter-spacing: 0.9px; }
      @media (min-width: 1902px) {
        #content .first-wrapper .first-intro p {
          font-size: 36px; } }
      @media (max-width: 1901px) {
        #content .first-wrapper .first-intro p {
          font-size: 30px; } }
      @media (max-width: 1600px) {
        #content .first-wrapper .first-intro p {
          font-size: 24px;
          margin-right: 0; } }
      @media (max-width: 1200px) {
        #content .first-wrapper .first-intro p {
          font-size: 20px;
          line-height: 30px;
          margin-right: 0; } }
      @media (max-width: 992px) {
        #content .first-wrapper .first-intro p {
          font-size: 18px;
          margin-right: 0; } }
      @media (max-width: 600px) {
        #content .first-wrapper .first-intro p {
          font-size: 16px;
          margin-right: 0;
          line-height: 32px; } }

#content .sec-wrapper {
  background: #eee; }
  @media (min-width: 1902px) {
    #content .sec-wrapper {
      padding: 0 78px 124px 78px; } }
  @media (max-width: 1901px) {
    #content .sec-wrapper {
      padding: 0 78px 124px 78px; } }
  @media (max-width: 1600px) {
    #content .sec-wrapper {
      padding: 0 66px 80px 66px; } }
  @media (max-width: 1200px) {
    #content .sec-wrapper {
      padding: 0 60px 60px 60px; } }
  @media (max-width: 992px) {
    #content .sec-wrapper {
      padding: 0 50px 50px 50px; } }
  @media (max-width: 600px) {
    #content .sec-wrapper {
      padding: 0 25px 30px 25px; } }
  #content .sec-wrapper .first-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    @media (max-width: 600px) {
      #content .sec-wrapper .first-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    #content .sec-wrapper .first-content .first-show {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      #content .sec-wrapper .first-content .first-show .first-title {
        margin-bottom: 0; }
        @media (min-width: 1902px) {
          #content .sec-wrapper .first-content .first-show .first-title {
            font-size: 36px;
            padding: 104px 0 42px; } }
        @media (max-width: 1901px) {
          #content .sec-wrapper .first-content .first-show .first-title {
            font-size: 30px;
            padding: 104px 0 42px; } }
        @media (max-width: 1600px) {
          #content .sec-wrapper .first-content .first-show .first-title {
            font-size: 24px;
            padding: 104px 0 42px; } }
        @media (max-width: 1200px) {
          #content .sec-wrapper .first-content .first-show .first-title {
            font-size: 20px;
            padding: 104px 0 42px; } }
        @media (max-width: 992px) {
          #content .sec-wrapper .first-content .first-show .first-title {
            font-size: 18px;
            padding: 75px 0 25px; } }
        @media (max-width: 600px) {
          #content .sec-wrapper .first-content .first-show .first-title {
            font-size: 16px;
            margin-right: 0;
            line-height: 32px;
            padding: 60px 0 20px; } }
      #content .sec-wrapper .first-content .first-show .first-img img {
        width: 100%; }
    #content .sec-wrapper .first-content .first-intro {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      line-height: 44px;
      font-size: 36px;
      padding-left: 40px;
      letter-spacing: 0.9px; }
      @media (max-width: 600px) {
        #content .sec-wrapper .first-content .first-intro {
          padding-left: 0; } }
      #content .sec-wrapper .first-content .first-intro p {
        margin-bottom: 0; }
        @media (min-width: 1902px) {
          #content .sec-wrapper .first-content .first-intro p {
            font-size: 36px; } }
        @media (max-width: 1901px) {
          #content .sec-wrapper .first-content .first-intro p {
            font-size: 30px; } }
        @media (max-width: 1600px) {
          #content .sec-wrapper .first-content .first-intro p {
            font-size: 24px; } }
        @media (max-width: 1200px) {
          #content .sec-wrapper .first-content .first-intro p {
            font-size: 20px;
            line-height: 30px; } }
        @media (max-width: 992px) {
          #content .sec-wrapper .first-content .first-intro p {
            font-size: 18px; } }
        @media (max-width: 600px) {
          #content .sec-wrapper .first-content .first-intro p {
            font-size: 16px;
            line-height: 32px;
            padding: 20px 0; } }
  #content .sec-wrapper .sec-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end; }
    @media (max-width: 600px) {
      #content .sec-wrapper .sec-content {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important; } }
    #content .sec-wrapper .sec-content .sec-show {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      #content .sec-wrapper .sec-content .sec-show .sec-title {
        display: inline-block;
        line-height: 88px;
        margin: 88px 0 24px 0;
        border-top: 1px solid #000; }
        @media (min-width: 1902px) {
          #content .sec-wrapper .sec-content .sec-show .sec-title {
            font-size: 36px; } }
        @media (max-width: 1901px) {
          #content .sec-wrapper .sec-content .sec-show .sec-title {
            font-size: 30px; } }
        @media (max-width: 1600px) {
          #content .sec-wrapper .sec-content .sec-show .sec-title {
            font-size: 24px; } }
        @media (max-width: 1200px) {
          #content .sec-wrapper .sec-content .sec-show .sec-title {
            font-size: 20px; } }
        @media (max-width: 992px) {
          #content .sec-wrapper .sec-content .sec-show .sec-title {
            font-size: 18px; } }
        @media (max-width: 600px) {
          #content .sec-wrapper .sec-content .sec-show .sec-title {
            font-size: 16px;
            margin: 20px 0;
            line-height: 32px; } }
      #content .sec-wrapper .sec-content .sec-show .sec-img img {
        width: 100%; }
    #content .sec-wrapper .sec-content .sec-intro {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      line-height: 44px;
      font-size: 36px;
      letter-spacing: 0.9px;
      padding-right: 40px; }
      @media (max-width: 600px) {
        #content .sec-wrapper .sec-content .sec-intro {
          padding-right: 0; } }
      #content .sec-wrapper .sec-content .sec-intro p {
        margin-bottom: 0; }
        @media (min-width: 1902px) {
          #content .sec-wrapper .sec-content .sec-intro p {
            font-size: 36px; } }
        @media (max-width: 1901px) {
          #content .sec-wrapper .sec-content .sec-intro p {
            font-size: 30px; } }
        @media (max-width: 1600px) {
          #content .sec-wrapper .sec-content .sec-intro p {
            font-size: 24px; } }
        @media (max-width: 1200px) {
          #content .sec-wrapper .sec-content .sec-intro p {
            font-size: 20px;
            line-height: 30px; } }
        @media (max-width: 992px) {
          #content .sec-wrapper .sec-content .sec-intro p {
            font-size: 18px; } }
        @media (max-width: 600px) {
          #content .sec-wrapper .sec-content .sec-intro p {
            font-size: 16px;
            line-height: 32px;
            padding-top: 20px; } }

#footer {
  background: #fff; }
  @media (min-width: 1902px) {
    #footer {
      padding: 88px 78px 44px 78px; } }
  @media (max-width: 1901px) {
    #footer {
      padding: 88px 78px 44px 78px; } }
  @media (max-width: 1600px) {
    #footer {
      padding: 78px 66px 44px 66px; } }
  @media (max-width: 1200px) {
    #footer {
      padding: 70px 60px 44px 60px; } }
  @media (max-width: 992px) {
    #footer {
      padding: 60px 50px 44px 50px; } }
  @media (max-width: 600px) {
    #footer {
      padding: 35px 25px 44px 25px; } }
  #footer form input::-moz-placeholder {
    color: #000; }
  #footer form input:-ms-input-placeholder {
    color: #000; }
  #footer form input::-webkit-input-placeholder {
    color: #000; }
  #footer form .input {
    font-size: 36px;
    color: #000;
    width: 100%;
    border: none;
    border-bottom: 2px solid #000;
    outline: none; }
    @media (min-width: 1902px) {
      #footer form .input {
        font-size: 36px;
        height: 85px;
        line-height: 85px; } }
    @media (max-width: 1901px) {
      #footer form .input {
        font-size: 30px;
        height: 70px;
        line-height: 70px; } }
    @media (max-width: 1600px) {
      #footer form .input {
        font-size: 24px;
        height: 65px;
        line-height: 65px; } }
    @media (max-width: 1200px) {
      #footer form .input {
        font-size: 20px;
        height: 60px;
        line-height: 60px; } }
    @media (max-width: 992px) {
      #footer form .input {
        font-size: 18px;
        height: 55px;
        line-height: 55px; } }
    @media (max-width: 600px) {
      #footer form .input {
        font-size: 16px;
        height: 50px;
        line-height: 50px; } }
  #footer .bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    margin-bottom: 94px;
    margin-top: 92px; }
    @media (max-width: 992px) {
      #footer .bottom {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 0; }
        #footer .bottom .left {
          max-width: 0; } }
    #footer .bottom .left {
      width: 454px;
      letter-spacing: 0.5px; }
      @media (max-width: 1200px) {
        #footer .bottom .left {
          width: 230px; } }
      #footer .bottom .left span {
        border-top: 2px solid #000; }
    #footer .bottom .left, #footer .bottom .center, #footer .bottom .right {
      font-size: 24px; }
      @media (min-width: 1902px) {
        #footer .bottom .left, #footer .bottom .center, #footer .bottom .right {
          font-size: 24px;
          line-height: 64px; } }
      @media (max-width: 1901px) {
        #footer .bottom .left, #footer .bottom .center, #footer .bottom .right {
          font-size: 24px;
          line-height: 40px; } }
      @media (max-width: 1600px) {
        #footer .bottom .left, #footer .bottom .center, #footer .bottom .right {
          font-size: 24px;
          line-height: 40px; } }
      @media (max-width: 1200px) {
        #footer .bottom .left, #footer .bottom .center, #footer .bottom .right {
          font-size: 20px;
          line-height: 40px; } }
      @media (max-width: 992px) {
        #footer .bottom .left, #footer .bottom .center, #footer .bottom .right {
          font-size: 18px;
          line-height: 40px; } }
      @media (max-width: 600px) {
        #footer .bottom .left, #footer .bottom .center, #footer .bottom .right {
          font-size: 16px;
          line-height: 40px; } }
      #footer .bottom .left span, #footer .bottom .center span, #footer .bottom .right span {
        display: inline-block; }
      #footer .bottom .left a, #footer .bottom .center a, #footer .bottom .right a {
        color: #000;
        text-decoration: none;
        -webkit-transition: All 0.2s ease-in-out;
        -o-transition: All 0.2s ease-in-out;
        transition: All 0.2s ease-in-out; }
      #footer .bottom .left a:hover, #footer .bottom .center a:hover, #footer .bottom .right a:hover {
        color: #aaa; }
    #footer .bottom .center {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      letter-spacing: 0.8px; }
      #footer .bottom .center span:first-child {
        margin-right: 52px; }
    #footer .bottom .right {
      width: 100px;
      text-align: right;
      letter-spacing: 2px; }
      @media (max-width: 992px) {
        #footer .bottom .right {
          width: 100%; } }
    #footer .bottom .right span:last-child {
      margin-left: 18px;
      border-top: 2px solid #000; }
