#nav{
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
  background: #fff;
  @media (min-width: 1902px) {
    padding: 72px 78px 88px 78px;
  }
  @media (max-width: 1901px) {
    padding: 72px 78px 88px 78px;
  }
  @media (max-width: 1600px) {
    padding: 65px 66px 80px 66px;
  }
  @media (max-width: 1200px) {
    padding: 55px 60px 70px 60px;
  }
  @media (max-width: 992px) {
    padding: 40px 50px 60px 50px;
  }
  @media (max-width: 600px) {
    padding: 30px 25px 45px 25px;
  }
  .logo{
    img{
      @media (max-width: 992px) {
        max-width: 80%;
      }
      @media (max-width: 600px) {
        max-width: 60%;
      }
    }
  }
  .logo-img{
    display: none;
  }
  .menu{
    ul{
      margin-bottom: 0;
      padding-left: 0;
      &:after{
        content: '';
        display: table;
        clear: both;
      }
      li{
        float: left;
        list-style: none;
        font-size: 27px;
        margin-right: 32px;
        line-height: 20px;
        @media (max-width: 992px) {
          font-size: 20px;
        }
        &:last-child{
          margin-right: 0;
        }
        a{
          color: #000;
          text-decoration: none;
          transition: All 0.2s ease-in-out;
        }
        a:hover{
          color: #aaa;
        }
      }
    }
  }
  .hamburger{
    display: none;
  }
  .hamburger-button{
    position: fixed;
    top: 40px;
    right: 25px;
    z-index: 999
  }
  @media (min-width: 601px) {
    .menu{
      display: block !important;
    }
  }
  @media (max-width: 600px) {
    .hamburger{
      display: block;
      outline: none;
      padding: 0;
    }
    .logo-img{
      display: inline-block;
    }
    .menu{
      display: none;
      position: fixed;
      z-index: 20;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #eee;
      text-align: center;
      div{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        a{
          color: #000;
          text-decoration: none;
          transition: All 0.2s ease-in-out;
        }
        a:hover{
          color: #aaa;
        }
        .logo-img{
          max-width: 70%;
        }
        ul{
          margin-top: 70px;
          li{
            margin-right: 0;
            display: block;
            float: none !important;
            line-height: 50px;
          }
        }
      }
    }
  }
}
#content{
  @media (min-width: 1902px) {
    padding-top: 217px;
  }
  @media (max-width: 1901px) {
    padding-top: 217px;
  }
  @media (max-width: 1600px) {
    padding-top: 202px;
  }
  @media (max-width: 1200px) {
    padding-top: 182px;
  }
  @media (max-width: 992px) {
    padding-top: 145.6px;
  }
  @media (max-width: 600px) {
    padding-top: 134.2px;
  }
  .first-wrapper{
    display: flex;
    align-items: flex-end;
    background: #fff;
    @media (min-width: 1902px) {
      padding: 0 78px 100px 78px;
    }
    @media (max-width: 1901px) {
      padding: 0 78px 100px 78px;
    }
    @media (max-width: 1600px) {
      padding: 0 66px 80px 66px;
    }
    @media (max-width: 1200px) {
      padding: 0 60px 60px 60px;
    }
    @media (max-width: 992px) {
      padding: 0 50px 50px 50px;
    }
    @media (max-width: 600px) {
      padding: 0 25px 30px 25px;
      flex-direction: column;
      .first-intro{
        padding-bottom: 20px;
      }
    }
    .first-img{
      flex: 1;
      img{
        width: 100%;
      }
    }
    .first-intro{
      flex: 1;
      line-height: 44px;
      padding-right: 40px;
      p{
        margin-bottom: 0;
        margin-right: 14px;
        letter-spacing: 0.9px;
        @media (min-width: 1902px) {
          font-size: 36px;
        }
        @media (max-width: 1901px) {
          font-size: 30px;
        }
        @media (max-width: 1600px) {
          font-size: 24px;
          margin-right: 0;
        }
        @media (max-width: 1200px) {
          font-size: 20px;
          line-height: 30px;
          margin-right: 0;
        }
        @media (max-width: 992px) {
          font-size: 18px;
          margin-right: 0;
        }
        @media (max-width: 600px) {
          font-size: 16px;
          margin-right: 0;
          line-height: 32px;
        }
      }
    }
  }
  .sec-wrapper{
    background: #eee;
    @media (min-width: 1902px) {
      padding: 0 78px 124px 78px;
    }
    @media (max-width: 1901px) {
      padding: 0 78px 124px 78px;
    }
    @media (max-width: 1600px) {
      padding: 0 66px 80px 66px;
    }
    @media (max-width: 1200px) {
      padding: 0 60px 60px 60px;
    }
    @media (max-width: 992px) {
      padding: 0 50px 50px 50px;
    }
    @media (max-width: 600px) {
      padding: 0 25px 30px 25px;
    }
    .first-content{
      display: flex;
      align-items: flex-end;
      @media (max-width: 600px) {
        flex-direction: column;
      }
      .first-show{
        flex: 1;
        .first-title{
          margin-bottom: 0;
          @media (min-width: 1902px) {
            font-size: 36px;
            padding: 104px 0 42px;
          }
          @media (max-width: 1901px) {
            font-size: 30px;
            padding: 104px 0 42px;
          }
          @media (max-width: 1600px) {
            font-size: 24px;
            padding: 104px 0 42px;
          }
          @media (max-width: 1200px) {
            font-size: 20px;
            padding: 104px 0 42px;
          }
          @media (max-width: 992px) {
            font-size: 18px;
            padding: 75px 0 25px;
          }
          @media (max-width: 600px) {
            font-size: 16px;
            margin-right: 0;
            line-height: 32px;
            padding: 60px 0 20px;
          }
        }
        .first-img{
          img{
            width: 100%;
          }
        }
      }
      .first-intro{
        flex: 1;
        line-height: 44px;
        font-size: 36px;
        padding-left: 40px;
        letter-spacing: 0.9px;
        @media (max-width: 600px) {
          padding-left: 0;
        }
        p{
          margin-bottom: 0;
          @media (min-width: 1902px) {
            font-size: 36px;
          }
          @media (max-width: 1901px) {
            font-size: 30px;
          }
          @media (max-width: 1600px) {
            font-size: 24px;
          }
          @media (max-width: 1200px) {
            font-size: 20px;
            line-height: 30px;
          }
          @media (max-width: 992px) {
            font-size: 18px;
          }
          @media (max-width: 600px) {
            font-size: 16px;
            line-height: 32px;
            padding: 20px 0;
          }
        }
      }
    }
    .sec-content{
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
      @media (max-width: 600px) {
        flex-direction: column !important;
      }
      .sec-show{
        flex: 1;
        .sec-title{
          display: inline-block;
          line-height: 88px;
          margin: 88px 0 24px 0;
          border-top: 1px solid #000;
          @media (min-width: 1902px) {
            font-size: 36px;
          }
          @media (max-width: 1901px) {
            font-size: 30px;
          }
          @media (max-width: 1600px) {
            font-size: 24px;
          }
          @media (max-width: 1200px) {
            font-size: 20px;
          }
          @media (max-width: 992px) {
            font-size: 18px;
          }
          @media (max-width: 600px) {
            font-size: 16px;
            margin: 20px 0;
            line-height: 32px;
          }
        }
        .sec-img{
          img{
            width: 100%;
          }
        }
      }
      .sec-intro{
        flex: 1;
        line-height: 44px;
        font-size: 36px;
        letter-spacing: 0.9px;
        padding-right: 40px;
        @media (max-width: 600px) {
          padding-right: 0;
        }
        p{
          margin-bottom: 0;
          @media (min-width: 1902px) {
            font-size: 36px;
          }
          @media (max-width: 1901px) {
            font-size: 30px;
          }
          @media (max-width: 1600px) {
            font-size: 24px;
          }
          @media (max-width: 1200px) {
            font-size: 20px;
            line-height: 30px;
          }
          @media (max-width: 992px) {
            font-size: 18px;
          }
          @media (max-width: 600px) {
            font-size: 16px;
            line-height: 32px;
            padding-top: 20px;
          }
        }
      }
    }
  }
}
#footer{
  background: #fff;
  @media (min-width: 1902px) {
    padding: 88px 78px 44px 78px;
  }
  @media (max-width: 1901px) {
    padding: 88px 78px 44px 78px;
  }
  @media (max-width: 1600px) {
    padding: 78px 66px 44px 66px;
  }
  @media (max-width: 1200px) {
    padding: 70px 60px 44px 60px;
  }
  @media (max-width: 992px) {
    padding: 60px 50px 44px 50px;
  }
  @media (max-width: 600px) {
    padding: 35px 25px 44px 25px;
  }
  form{
    input::-moz-placeholder {
      color: #000;
    }
    input:-ms-input-placeholder {
      color: #000;
    }
    input::-webkit-input-placeholder {
      color: #000;
    }
    .input{
      font-size: 36px;
      color: #000;
      width: 100%;
      border: none;
      border-bottom: 2px solid #000;
      outline:none;
      @media (min-width: 1902px) {
        font-size: 36px;
        height: 85px;
        line-height: 85px;
      }
      @media (max-width: 1901px) {
        font-size: 30px;
        height: 70px;
        line-height: 70px;
      }
      @media (max-width: 1600px) {
        font-size: 24px;
        height: 65px;
        line-height: 65px;
      }
      @media (max-width: 1200px) {
        font-size: 20px;
        height: 60px;
        line-height: 60px;
      }
      @media (max-width: 992px) {
        font-size: 18px;
        height: 55px;
        line-height: 55px;
      }
      @media (max-width: 600px) {
        font-size: 16px;
        height: 50px;
        line-height: 50px;
      }
    }
  }
  .bottom{
    display: flex;
    align-items: stretch;
    margin-bottom: 94px;
    margin-top:92px;
    @media (max-width: 992px) {
      flex-direction: column;
      margin-bottom: 0;
      .left{
        max-width: 0;
      }
    }
    .left{
      width: 454px;
      letter-spacing: 0.5px;
      @media (max-width: 1200px) {
        width: 230px;
      }
      span{
        border-top: 2px solid #000;
      }
    }
    .left, .center, .right{
      font-size: 24px;
      @media (min-width: 1902px) {
        font-size: 24px;
        line-height: 64px;
      }
      @media (max-width: 1901px) {
        font-size: 24px;
        line-height: 40px;
      }
      @media (max-width: 1600px) {
        font-size: 24px;
        line-height: 40px;
      }
      @media (max-width: 1200px) {
        font-size: 20px;
        line-height: 40px;
      }
      @media (max-width: 992px) {
        font-size: 18px;
        line-height: 40px;
      }
      @media (max-width: 600px) {
        font-size: 16px;
        line-height: 40px;
      }
      span{
        display: inline-block;
      }
      a{
        color: #000;
        text-decoration: none;
        transition: All 0.2s ease-in-out;
      }
      a:hover{
        color: #aaa;
      }
    }
    .center{
      flex: 1;
      letter-spacing: 0.8px;
      span:first-child{
        margin-right: 52px;
      }
    }
    .right{
      width: 100px;
      text-align: right;
      letter-spacing: 2px;
      @media (max-width: 992px) {
        width: 100%;
      }
    }
    .right span:last-child{
      margin-left: 18px;
      border-top: 2px solid #000;
    }
  }
}